extend = "../Makefile.common.toml"

[env]
HARDWARE_TARGET = "armv7r-none-eabihf"

[tasks.build]
clear = true
command = "cargo"
args = [
    "build",
    "--target", "${HARDWARE_TARGET}",
]

[tasks.build-release]
command = "cargo"
args = [
    "build",
    "--target", "${HARDWARE_TARGET}",
    "--release",
]

[tasks.check]
clear = true
command = "cargo"
args = [
    "check",
    "--target", "${HARDWARE_TARGET}",
]

[tasks.clippy]
clear = true
command = "cargo"
args = [
    "clippy",
    "--target", "${HARDWARE_TARGET}",
]
dependencies = ["install-clippy"]
